#ignore thumbnails created by windows
Thumbs.db
#ignore Desktop Service Store files created by mac
*.DS_Store
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
build
CMakeCache.txt
CMakeFiles/
Makefile
UninstallTarget.cmake
cmake_install.cmake
examples/CMakeFiles/
examples/Makefile
examples/cmake_install.cmake
fakenect/CMakeFiles/
fakenect/Makefile
fakenect/cmake_install.cmake
lib/
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
utils/
wrappers/c_sync/CMakeFiles/
wrappers/c_sync/Makefile
wrappers/c_sync/cmake_install.cmake
